@import url('https://fonts.googleapis.com/css2?family=Flamenco&family=Ubuntu:wght@300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');

/*Aplicação em todo o projeto:*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-variant: small-caps;
}
html{ /*botão para subir a página*/
    scroll-behavior: smooth;
}

.max-width{ /*Largura máxima*/
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/*MUDANDO O MENU - TESTE*/

.navigation{ /*barra de navegação, canto esquerdo*/
    position: fixed; /*elemento pai, com position diferente de static*/
    inset: 20px 0 20px 5px; /*inserir*/
    width: 70px;
    height: 90%;
    margin: -5px 0;
    background: rgba(255, 255, 255, 0.329);
    background-position: -100%;
    transition: 0.5s;
    display: flex;
    flex-direction: column-reverse;
    justify-content:center;
    align-content: space-around;
    border-radius: 5px;
}
.navigation.open{ /*quando abrir a barra de navegação*/
    width: 180px; /*expandir-se-á em 180px*/
}
.navigation .menuToggle{ /* risquinhos do menu*/
    position: absolute; /*será posicionado em relação ao elemento pai 'navigation'.*/
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgba(0,0, 0, 0.25);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start; /*justificar o conteúdo: início flexível */
    padding: 0 23px;
}
.navigation .menuToggle::before { /*riscos que representarão o menu. - before = antes */
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #333;
    transform: translateY(-8px);
    transition: 0.5s;
}
.navigation.open .menuToggle::before{
    transform: translateY(0px) rotate(45deg); /*inclinar um risco em 45 graus*/

}
.navigation .menuToggle::after { /*riscos do menu ao ser expandido - after = depois*/
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #333;
    transform: translateY(8px);
    transition: 0.5s;
    box-shadow: 0 -8px 0 #333;
}
.navigation.open .menuToggle::after{ /*deixará um X no lugar dos 3 riscos do menu. */
    transform: translateY(0px) rotate(-45deg);
    box-shadow: 0 0 0 #333;
}
.navigation ul{ /*lista desordenada - estrutura da lista*/
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.navigation ul li{ /*itens da lista, corpo*/
    list-style: none;
    position: relative;
    width: 100%;
    height: 60px;
    padding: 0 10px;
    transition: 0.5s;
}
.navigation ul li.active{  /*quando a lista for ativada*/
    transform: translateX(30px);
}

.navigation.open ul li.active{
    transform: translateX(10px);
}
.navigation ul li a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    text-align: center;
    text-decoration: none;
}
.navigation ul li a .icon{ /*Icones da lista*/
    position: relative; /*altera sua posição em relação à posição inicial*/
    display: block;
    min-width: 55px; /*largura mínima*/
    height: 55px;
    line-height: 60px;
    transition: 0.5s;
    border-radius: 10px;
    font-size: 1.75em;
    color: #222;
}
.navigation ul li.active a .icon{ /*cor do ícone ao ser acionado */
    color: #fff;
    background: var(--clr);
}
.navigation ul li a .icon::before{
    content: '';
    position: absolute; /* posição do ícone em relação ao elemento pai 'navigation'*/
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr);
    filter: blur(8px); /*filtro - deixará a cor esfumaçada. */
    opacity: 0;
    transition: 0.5s;
}
.navigation ul li.active a .icon::before{
    opacity: 1;
}
.navigation ul li a .text{
    position: relative;
    padding: 0 15px;
    height: 60px;
    display: flex;
    align-items: center;
    color: #333;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.navigation.open ul li a .text{
    opacity: 1;
    visibility: visible;
}
.navigation ul li.active a .text {
    color: var(--clr);
}
.home{
    display: flex;
    background-image: url(/img/home.logo.01.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;    
    height: 95vh;
    color: white;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.home .home-content{
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.274);
    background-position: center;
}
.home .home-content .text{
    font-size: 50px;
    font-weight:1000;
    display: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Zen Loop', cursive;
    color: black;
    margin: 10px 15px;
}
.home .home-content .text span{
    color: white;
    font-size: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/*Todas as sessões similares*/

section{
    padding: 100px 0;
}

section .title{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;
}

section .title::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}

section .title::after{
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    background: #fff;
    color: #ffc400;
    padding: 5px;
    transform: translateX(-50%);
}

.about .about-content, .product .prod-content, .dicas .dicas-content, .contact .contact-content{ /*ATENÇÃO: Quando colocar mais de uma propriedade/div, deve-se colocar vírgula para separar e o estilo ser aplicado em todos.*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/*Sessão Sobre*/

.about .title::after{
    content: "Mesa Posta";
}
.about{
    perspective: 800px;
}
.about .about-content .left-1{
    width: 35%;
    height: 300px;
    transform-style: preserve-3d;
    position: relative;
    transition: transform .75s cubic-bezier(0.4, 0.03, 0,5, 0.9);
}
.about .about-content .left-1 .img{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    object-fit: cover;
    outline: 2px solid #fff;
    outline-offset: 5px;
    backface-visibility: hidden;
    border-radius: 7px;
}
.about .about-content .left-1 .img:nth-child(2), .left-1:hover{
    transform: rotate3d(1,1,0, 180deg);
}
.about .about-content .right{
    width: 55%;
}

.about .about-content .right .text{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}

.about .about-content .right p{
    text-align: justify;
    font-size: 17px;
    text-indent: 2rem;
    line-height: 25px;
}

/*Sessão - Produtos*/
.product{
    background: black;
    color: #fff;
}
.product .title::before{
    background: #fff;
}

.product .title::after{
    background: black;
    content: "Que oferecemos";
}

.product .prod-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    padding: 20px 25px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3seg ease;
}
.product .prod-content .card:hover{
    background: #ffc400;
}

.product .prod-content .card .box{
    transition: all 0.3seg ease;
}
.product .prod-content .card:hover .box{
    transform: scale(1.05);
}

.product .prod-content .card ion-icon{
    font-size: 70px;
    color: #ffc400;
}
.product .prod-content .card:hover ion-icon{
    color: #fff;
}

.product .prod-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}


/*Sessão Marcas*/
.mark .title::after{
    content: "Que trabalhamos";
}
.mark .carousel .box{
    width: calc(33% - 20px);
    text-align: center;
    padding: 15px 15px;
    border: 1px solid #ffc400;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3seg ease;
    margin: 5px 7px;
}
.mark .carousel .box:hover{
    background: #ffc400;
}

.mark .carousel .box{
    transition: all 0.3seg ease;
}
.mark .carousel .box:hover{
    transform: scale(1.05);
}
.mark .carousel .box .text{
    font-size: 25px;
    font-weight: 500;
    margin: 7px 5px;
}
.mark .carousel .box img{
    width: 300px;
    height: 150px;
    object-fit: cover;
    transition: all 0.3seg ease;
}
.mark .carousel .box{
    display: inline-block;
    align-items: center;
    justify-content: center;
    transition: all 0.3seg ease;
}
.mark .carousel .box:hover{
    transform: scale(1.05);
}

Bolinhas de transição das Marcas
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    width: 14px;
    height: 14px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid #ffc400!important;
    transition: all 0.3seg ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 15px;
}
.owl-dot.active, owl-dot:hover{
    background: #ffc400!important;
}

/*Sessão Dicas*/
.dicas{
    background: black;
    color: #fff;
}
.dicas .title::before{
    background: #fff;
}

.dicas .title::after{
    background: black;
    content: "De Mesa Posta";
}

.dicas .dicas-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    padding: 20px 25px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3seg ease;
}
.dicas{
    padding: 20px;
    background: black;
    color: white;
}
.dicas .dicas-content .card{
    padding: 20px 35px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3seg ease;
}
.dicas .dicas-content .card:hover{
    background: #ffc400c4;
}

.dicas .dicas-content .card img{
    width: 300px;
    height: 100%;
    object-fit: cover;
    transition: all 0.3seg ease;
}

.dicas .dicas-content .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3seg ease;
}
.dicas .dicas-content .card:hover .box{
    transform: scale(1.05);
}

/*Sessão Contato*/
/*Meus dados*/
.contact .title::after{
    content: "Fale Conosco";
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content{
    align-items: flex-start;
}
.contact .contact-content .left p{
     text-align: justify;
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.contact .contact-content .left .icons{
    margin:  10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row .info .head{
    font-weight: 500;
}
.contact .contact-content .row .info .sub-title{
    color: #333;
}
.contact .contact-content .row ion-icon{
    font-size: 25px;
    color: #ffc400;
}

/*Formulário*/
.contact .rigth .text{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.contact .rigth form .fieldset{
    display: column;
    height: auto;
    width: 500px;
    text-align: center;
}
.contact .rigth form .fieldset input{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(133, 132, 132);
    border-radius: 3px;
    outline: none;
    box-sizing: border-box;
    margin: 10px 0;
}
.contact .rigth form .fieldset .name{
    margin-right: 15px;
    padding: 5px 10px;
    font-size: 15px;
}
.contact .rigth form .fieldset .email{
    margin-right: 15px;
    padding: 5px 10px;
    font-size: 15px;
}
.contact .rigth form .fieldset .tel{
    margin-right: 15px;
    padding: 5px 10px;
    font-size: 15px;
}
.contact .rigth form .fieldset textarea{
    width: 100%;
    height: 100px;
    padding: 5px 10px;
    margin-right: 15px;
    resize: none;
    box-sizing: border-box;
    min-height: 100px;
    max-height: 200px;
    max-width: 100%; 
    font-size: 17px;
    outline: none;
}

.contact .rigth form .button{
    width: 150px;
    height: 47px;
}
.contact .rigth form .button button{
    width: 100%;
    height: 100%;
    margin: 5px 0;
    border: 2px solid #c09404da;
    background:  #ffc400;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3seg ease;
}
.contact .rigth form .button button:hover{
    color:  #c09404da;
    background: none;
}

/*Sessão Footer*/
footer{
    background: #111;
    padding: 20px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color:  #ffc400;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

/*Responsivo - site ficará acessível para tamanhos menores da página, isto é, para tablet e celular*/

@media (max-width: 1300px){
  /*  .navbar .max-width{
        margin-left: 0;
    }*/
    .about .about-content .left-1 .img{
        display: flex;
        justify-content: center;
        margin: 0 35px;
        width: 95%;
  }
}

@media (max-width: 1104px){
    .about .about-content .column{
        width: 50%;
    }
    .about .about-content .left-1 .img{
      display: flex;
      justify-content: center;
      margin: 0 35px;
      width: 85%;
    }
}

@media (max-width: 991px){
    .navbar .max-width{
        padding-left: 0 50px;
    }
}

@media (max-width: 994px){
    .max-width{
        max-width: 800px;
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .home .home-content .text{
        font-size: 40px;
    }
    .home .home-content .text span{
        font-size: 55px;
    }
    .about .about-content .column{
        width: 50%;
    }
    .about .about-content .left-1 .img{ /*propriedade que deixará a imagem centralizada, na página, com o texto em baixo, de forma responsiva, para quando o site for aberto em celular ou tablet.*/
        display: flex;
        justify-content: center;
        margin: 0 auto 0 50%;
        width: 100%;
        height: 100%;
    }
    .about .about-content .right{ /*propriedade que deixará o texto em baixo da imagem, de forma responsiva, para quando o site for aberto em celular ou tablet.*/
        flex: 100%;
    }
    .about .about-content .right .text{
        font-size: 22px;
    }
    .product .prod-content .card {
        width: calc(50% - 10px );
        margin-bottom: 20px;
    }
    .mark .carousel .box {
        width: 90%;
        margin-bottom: 10px;
    }
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
    .contact .contact-content .rigth form .fieldset{
        width: 100%;
        height: 100%;
    }
    footer{
        margin-top: 10px;
    }
}

@media (max-width: 690px){
    .home .home-content .text{
        font-size: 35px;
    }
    .product .prod-content .card {
        width: 100%;
    }
}

@media (max-width: 500px){
    .home .home-content{
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .home .home-content .text{
        text-align: center;
        justify-content: center;
    }
    .dicas .dicas-content{
        display: flex;
        text-align: center;
        flex-direction: column;
        align-content: center;
    }
    .dicas .dicas-content .card{
        display: flex;
        text-align: center;
        flex-direction: column;
        align-content: center;
        width: 90%;
        margin: 10px 0;
    }
    .dicas .dicas-content .card .box img{
        width: 90%;
        height: 90%;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-content: center;  
    }
    .about .about-content .left-1 .img{ /*propriedade que deixará a imagem centralizada, na página, com o texto em baixo, de forma responsiva, para quando o site for aberto em celular ou tablet.*/
        display: flex;
        justify-content: center;
        margin: 0 auto 0 50%;
        width: 100%;
        height: 100%;
    }
}